<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
  <tbody>
    <tr>
      <td>ID</td>
      <td>{{ client.id }}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{ client.name }}</td>
    </tr>
    <tr>
      <td>Bank Details</td>
      <td>{{ client.bank_details }}</td>
    </tr>
    <tr>
      <td>Товары</td>
        <td>
    <ul>
{% for product in products %}
   <li>  {{ product.name }} </li>
{% endfor %}
</ul>

        </td>
    </tr>
  </tbody>
</table>
</body>
</html>