<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
  <tbody>
    <tr>
      <td>ID</td>
      <td>{{ shelf.id }}</td>
    </tr>
    <tr>
      <td>Location</td>
      <td>{{ shelf.room }}</td>
    </tr>
    <tr>
      <td>Number of Storage Places</td>
      <td>{{ shelf.number }}</td>
    </tr>
    <tr>
      <td>Height</td>
      <td>{{ shelf.height }}</td>
    </tr>
    <tr>
      <td>Width</td>
      <td>{{ shelf.width }}</td>
    </tr>
    <tr>
      <td>Length</td>
      <td>{{ shelf.length }}</td>
    </tr>
    <tr>
      <td>Maximum Load</td>
      <td>{{ shelf.max_load }}</td>
    </tr>
  </tbody>
</table>

</body>
</html>