<!DOCTYPE html>
<html lang="en">
<head>
{#    add css #} {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
{#<body style="width: 50%; margin: 0 auto;">#}
<!-- templates/index.html -->
<body>
<h1><a href="{% url 'room_list' %}">Склады:</a></h1>
<ul>
{% for room in rooms %}
    <li><a href="{% url 'room_detail' room.pk %}">Имя склада: {{ room.name }} - Объем склада: {{ room.volume }}</a></li>
{% endfor %}
</ul>

<h1><a href="{% url 'shelf_list' %}">Стеллажи:</a></h1>
<ul>
{% for shelf in shelves %}
    <li><a href="{% url 'shelf_detail' shelf.pk %}">Номер стеллажа: {{ shelf.number }} - Имя склада: {{ shelf.room.name }} - Вместимость: {{ shelf.storage_capacity }} - Высота: {{ shelf.height }} - Ширина: {{ shelf.width }} - Длина: {{ shelf.length }} - Макс. нагрузка: {{ shelf.max_load }} </a></li>
{% endfor %}
</ul>

<h1><a href="{% url 'client_list' %}">Клиенты:</a></h1>
<ul>
{% for client in clients %}
    <li><a href="{% url 'client_detail' client.pk %}">{{ client.name }} - {{ client.bank_details }}</a></li>
{% endfor %}
</ul>

<h1><a href="{% url 'product_list' %}">Товары:</a></h1>
<ul>
{% for product in products %}
    <li><a href="{% url 'product_detail' product.pk %}">Название: {{ product.name }}</a></li>
{% endfor %}
</ul>
</body>
</html>